@import '~node_modules/modern-normalize/modern-normalize.css';

.search-form {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: yellowgreen;
}

button {
    size: 10px;
    font-size: 10px;
}

.gallery {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 13px;
    flex-wrap: wrap;
    margin-top: 20px;
}

img {
    width: 240px;
    height: 160px;
}

.info {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 1px solid #EEEEEE;
    border-top: transparent;
    box-shadow:
        0px 1px 1px rgba(0, 0, 0, 0.12),
        0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
}

.info-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 12px;
}

.load-more {
    display: block;
   margin: auto;
   padding: 5px 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 3px solid yellowgreen;
    color: red;
    font-size: 15px;
    background-color: white;
    cursor: pointer;
}

.is-hidden {
    display: none;
}